<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Convertidor dólares/córdobas</title>
   <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
   <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
   <div class="container py-5 px-4 vh-75">
      <h1 class="mb-4">Convertidor dólares/córdobas</h1>
      <div class="row pt-0 mt-0 pb-3">
         <img src="{{url_for('static', filename='img/nica_flag.png')}}" alt="Nicaragua flag" style="max-height: 5vh; width: auto;" />
         <img src="{{url_for('static', filename='img/usa_flag.png')}}" alt="USA flag" style="max-height: 5vh; width: auto;" />
      </div>
      <p>Tipo de cambio oficial: <strong class="bg-warning px-2" id="rate">{{exchange_rate}}</strong><br />
         <em style="font-size: 0.8em;">(actualizado al {{latest_update}} con base en el sitio web del <a href="{{source_url}}" target="_blank">{{source}}</a>)</em>
      </p>
      <p>Seleccione el tipo de conversión:</p>

      <div class="form-check">
         <input class="form-check-input" type="radio" name="operation" id="usdnio" value="usdnio" required />
         <label class="form-check-label" for="usdnio">US$ ---> C$</label><br />
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="operation" id="niousd" value="niousd" required />
         <label class="form-check-label" for="niousd">C$ ---> US$</label><br />
      </div>

      <div class="row justify-content-start">
         <div class="col-12 col-md-4">
            <p class="pt-3">
               <label class="form-label" for="amount" id="amount-label">Monto:</label>
               <!-- <input class="form-control" type="number" min="0" step="0.01" name="amount" id="amount" value="0" oninput="handleInput(this.value)" /> -->
               <input class="form-control" type="number" min="0" step="0.01" name="amount" id="amount" oninput="handleInput(this.value)" />
            </p>
         </div>
      </div>
      <!-- <form name="Form"></form> -->
      <div class="row justify-content-start">
         <div class="col-12 col-md-4">
            <p class="pt-3">
               <label class="form-label" for="amount" id="result-label">Equivalente a:</label>
               <input class="form-control" type="text" name="result" id="result" value="0" readonly />
            </p>
         </div>
      </div>

   </div>
   <div class="container py-5 px-4"><p class="fst-italic">Desarrollado por Shnrz Web Dev - 2022</p></div>
   <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
   <script src="{{url_for('static', filename='js/converter.js')}}"></script>
</body>
</html>
